[submodule "icon-sdk-java"]
	path = icon-sdk-java
	url = https://github.com/icon-project/icon-sdk-java.git
[submodule "javascore"]
	path = javascore
	url = https://github.com/icon-project/btp2-java.git
[submodule "solidity"]
	path = solidity
	url = https://github.com/icon-project/btp2-solidity.git
[submodule "e2edemo/docker/bsc"]
	path = e2edemo/docker/bsc
	url = https://github.com/kornery/bsc-docker.git
